---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const pageTitle = "🌌 Blog 🌠";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-one/">Post 1</a></li>
    <li><a href="/posts/post-two/">Post 2</a></li>
    <li><a href="/posts/post-three/">Post 3</a></li>
  </ul>
  <ul id="post-list"></ul>
</BaseLayout>
<Footer />

<script src="../scripts/blogPosts.js"></script>
<style>
  h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
</style>
