---
const spaceFacts = [
  "In our Milky Way galaxy alone, there are an estimated 20 billion Earth-like planets. Moreover, within the observable universe, there exist over 2 trillion galaxies. That's 40,000,000,000,000,000,000 EARTHS! ",
  "Jupiter, due to its large size and powerful gravitational field, is often referred to as a 'cosmic vacuum cleaner' or a 'guardian' of the solar system. Its gravitational field can pull or deflect incoming asteroids and comets, preventing them from reaching the inner planets, including Earth.",
  "Supermassive black holes, with masses billions of times greater than that of the Sun, are believed to reside at the center of most, if not all, galaxies. These gravitational behemoths, often exceeding millions of solar masses, play a pivotal role in shaping the dynamics and evolution of their host galaxies.",
];
---

<p>Here are some cool space facts:</p>
<ul class="space-facts">
  <li>{spaceFacts[0]}</li>
  <li>{spaceFacts[1]}</li>
  <li>{spaceFacts[2]}</li>
</ul>

<style>
  .space-facts {
    font-family: "Space Mono", monospace;
    list-style: none;
    color: black;
    line-height: 2;
    margin: 0;
    padding: 0;
  }

  li {
    color: white;
    margin-bottom: 1em;
  }
</style>
